p
{
font-size: 0.5cm; 
font-family:  Serif;
}

	
h2
{
font-size: 1cm;
color:red; 
font-family:  Serif; 
text-align:right;
}


p#akapit
{
font-size: 0.5cm;
color:blue; 
font-family:  Serif;
text-align:right;


}

p#skutek1_1
{
font-size: 1cm;
color:blue; 
font-family:  Serif;
text-align:auto;
text-decoration: overline;
font-style: italic;
font-size: xx-small;
font-weight: 400;
margin:  3cm;
letter-spacing:3ex;
line-height: 1.2cm;
word-spacing:9px;
}

p#skutek1_2
{
font-size: 1cm;
color:blue; 
font-family:  Serif;
text-align:auto;
text-decoration: overline;
font-style: italic;
font-size: medium;
font-weight: 600;
margin:  3cm;
letter-spacing:3ex;
line-height: 1.2cm;
word-spacing:9px;
}


p#skutek1_3
{
font-size: 1cm;
color:blue; 
font-family:  Serif;
text-align:auto;
text-decoration: overline;
font-style: italic;
font-size: xx-large;
font-weight:  800;
margin:  15px;
letter-spacing:3ex;
line-height: 1.2cm;
word-spacing:9px;
}


p#skutek2_1
{
font-size: 1cm;
color:grey; 
font-family:  Sans-Serif;
text-align:auto;
text-decoration: line-through;
font-style: oblique;
font-size: 20px;
font-weight: 300;
margin:  15px;
letter-spacing:3ex;
line-height: 1.2cm;
word-spacing:9px;
}

p#skutek2_2
{
font-size: 1cm;
color:grey; 
font-family:  Sans-Serif;
text-align:auto;
text-decoration: line-through;
font-style: oblique;
font-size: 0.5in;
font-weight: 600;
margin:  15px;
letter-spacing:3ex;
line-height: 1.2cm;
word-spacing:9px;
}


p#skutek2_3
{
font-size: 1cm;
color:grey; 
font-family:  Sans-Serif;
text-align:auto;
text-decoration: line-through;
font-style: oblique;
font-size: 1em;
font-weight:  800;
margin:  15px;
letter-spacing:3ex;
line-height: 1.2cm;
word-spacing:9px;
}