
p#pogrubienie_szpinek
{
font-size:32px;
color: #7e5bd4;
}

p#pochylone_szpinek
{
font-size:37px;
color: #e2bf70;
}

p#indexgorny_szpinek
{
font-size:1.2cm;
color: #928d20;
}



p#indexdolny_szpinek
{
font-size:1.9cm;
color: #2ef1e8;
}





p#mono_szpinek
{
font-size:42px;
color: #12dd70;
}


p#powiekszone_szpinek
{
font-size:50px;
color: #4c3da2;
}

p#pomniejszone_szpinek
{
font-size:30px;
color: #b0a13e;
}



